<% include ../template/header.ejs %>
<script src="js/convertJsonToCSV.js" ></script>
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div style="display: inline">
                    <h6 class="m-0 font-weight-bold text-success">Relatórios</h6>

                </div>

            </div>
            <!-- Card Body -->
            <div class="card-body row ">
                <div class="py-2 d-flex flex-row col-6 ">
                    <form id="send-form">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                    <label for="Dispositivos">Dispositivo:</label>
                                    <select id="inputDispositivo" class="form-control">
                                        <option value="">Selecione o Dispositivo</option>
                                        <% if(dispositivos){ %>
                                            <% for (var i = 0; i < dispositivos.length; i++){ %>
                                                    <option value="<%= dispositivos[i].id_dispositivo %>"><%= dispositivos[i].nome %></option>
                                            <%}%>
                                        <%}%>
                                        
                                    </select>             
                        </div>
                        <div class="form-group col-md-12">
                            <label for="sel1">Sensor:</label>
                                    <select id="inputSensor" class="form-control">
                                        <option value="">Selecione o sensor</option>
                                        
                                    </select> 

                        </div>
                        <div class="form-group col-md-12">
                            <label for="example-datetime-local-input" class="">Data Inicial</label>
                            <input id="inputDataI" class="form-control" type="datetime-local" value="2019-06-19T13:45:00">

                        </div>
                        <div class="form-group col-md-12">
                            <label for="example-datetime-local-input" class="">Data Final</label>
                            <input id="inputDataF" class="form-control" type="datetime-local" value="2019-06-19T13:48:00">
                            
                        </div>
                        <div class="form-group col-md-12">
                            <button style="float: right" class="btn btn-sm btn-primary">
                                <i class="fas fa-download"></i>
                                Download
                            </button>
                            
                        </div>
                        
                        </div>
                        
                    </form>

            </div>
            <div class="py-2 d-flex flex-row col-6 ">
               
            </div>
            
        </div>
       
    </div>


</div>

<% include ../template/footer.ejs %>