<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de monitoramento agricola</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<!--     <link href="css/gont.css" rel="stylesheet" type="text/css">
 -->    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    

</head>

<body id="page-top">
    <script>
        window.onload = function setItemSelect(){
            let urlpath = window.location.pathname;          
        }       
    </script>

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
            <div class="sidebar-brand-icon">
                <img src="/img/logo-if.png" width="55px" height="55px" alt="" srcset="">

            </div>
            <div class="sidebar-brand-text mx-1"> <h6>IoT AGRO</h6></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Área de Cultivo
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/plantio" aria-expanded="true">
                <i class="fas fa-tree"></i>
                <span>Plantio</span>
            </a>
            
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Dispositivos
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/dispositivos" aria-expanded="true">
                <i class="fas fa-fw fa-microchip"></i>
                <span>Dispositivos</span>
            </a>
            
        </li>
        <!--sensors-->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <!-- Heading -->
        <div class="sidebar-heading">
            Painel
        </div>
         <!-- Nav Item - Dashboard -->
         <li class="nav-item">
            <a class="nav-link" id="dashboard" href="/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard </span></a>
        </li>
        
        <!--sensors-->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Sensores
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/sensores" aria-expanded="true">
                <i class="fas fa-satellite-dish"></i>
                <span>Sensores</span>
            </a>
            
        </li>
        <!--fimsensor-->
        
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Dados
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/relatorio">
                <i class="fas fa-chart-bar"></i>
                <span>Relatórios</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="">
